html,
body {
  overflow-x: hidden;
}

.moWrap {
  text-align: center;
  letter-spacing: 0.025rem;
  box-sizing: border-box;
}
.con-top {
  background: #ffb898;
  /* padding: 2.125rem 0; */
}
.con-top span {
  font-size: 20px;
  font-weight: 500;
}
.con-top p {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  padding: 6px;
}

.con-bottom {
  padding: 1.75rem 2.125rem;
}
.con-bottom .tit {
  font-size: 18px;
  line-height: 2.125rem;
  margin: 0;
}
.con-bottom .content {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  padding: 1.5625rem 1.9375rem;
  border: 2px solid #dddddd;
  margin: 1rem 0 1.5rem;
  border-radius: 0.625rem;
}
.con-bottom button {
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 1.5625rem 2.8125rem;
  font-size: 15px;
  background: #fff;
  font-size: 16px;
  margin: 0 0.4375rem;
}
.con-bottom button:hover {
  background: #ff6742;
  color: #fff;
  border: 2px solid transparent;
}

.confirm .con-top {
  background: #e32525;
  padding: 8px;
}
.confirm .con-top .closePop {
  background-image: url(../img/icon-close.png);
  content: "";
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: -145px;
  cursor: pointer;
  vertical-align: middle;
}

.confirm .con-bottom span {
  font-size: 18px;
  line-height: 42px;
}
.confirm .con-bottom button {
  margin-top: 20px;
}
.ticket .con-top {
  background: #e32525;
}
.ticket .con-top span {
  padding: 32px 0;
  color: #fff;
}

.ticket .con-bottom {
  padding: 30px;
  max-height: 600px;
  overflow-y: scroll;
}

.ticket .con-bottom img {
  width: 100%;
  height: auto;
}
.ticket .con-bottom .flex {
  margin: 20px 0 15px;
  display: flex;
  align-items: center;
}
.ticket .con-bottom .flex img {
  width: 70px;
  height: 70px;
}
.ticket .con-bottom .flex p {
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  margin-left: 30px;
}
.ticket .con-bottom .content-01 {
  font-size: 15px;
  line-height: 33px;
  letter-spacing: 0.04rem;
  margin-bottom: 20px;
  text-align: left;
}
.ticket .con-bottom .content-02 {
  border: 2px solid #ff6742;
  border-radius: 50px;
  padding: 20px 40px;
}
.ticket .con-bottom .content-02 a {
  text-decoration: none;
  color: #ff6742;
  font-size: 18px;
}

.ticket .con-top {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.ticket .con-top span {
  padding: 0;
}

.ticket .con-top .closePop {
  background-image: url(../img/icon-close.png);
  content: "";
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 3px;
  cursor: pointer;
  vertical-align: middle;
}
